html {
    background-image: url(../resources/wallpaper/default.jpg);
    background-size: cover;
    background-attachment: fixed;
}

@font-face {
    font-family: "Glyphicons Halflings";
    src: url("../fonts/glyphicons-halflings-regular.woff2") format("woff2");
}

body {
    min-height: 100vh;
    padding: 1rem 0 0.2rem 0;
    background-color: #333030;
    background: rgba(0, 0, 0, 0.6) !important;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

.table-sm .badge {
    padding: 0.25em 0.5rem 0.25rem 0.5rem;
}

/* ###################### */

.node-down {
    opacity: 0.3;
}

.rtinfo table {
    font-size: 14px;
    font-family: var(--bs-font-monospace);
    background: transparent;
    margin: 0;
}

.rtinfo table thead {
	font-weight: bold;
	color: #BFBFBF;
	border-bottom: solid 2px #4D4D4D;
}

.rtinfo table a:link, table a:hover, table a:visited {
    text-decoration: none !important;
    font-weight: bold;
}

.td-14 { width: 14%; }
.td-10 { width: 10%; }
.td-8 { width: 8%; }
.td-6 { width: 6%; }
.td-5 { width: 5%; }
.td-3 { width: 3%; }
.td-2 { width: 2%; }
.td-1 { width: 1%; }

/* ############################ */

.card-ping .card-header {
    font-family: var(--bs-font-monospace);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ping-reply {
    text-align: center;
    font-size: 1.25rem;
}

.wfix {
    word-spacing: -6px;
}

table.wireless tr {
    font-size: 14px;
    font-family: "UbuntuSansMono";
    line-height: 10px;
}

table.wireless td:first-child {
    width: 30px;
}

/* devices */
#network-devices {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: "UbuntuSansMono";
    line-height: 18px;
}

.device-node {
    display: flex;
}

.device-node .badge {
    opacity: 0.3;
}

.device-node .badge.active {
    opacity: 1;
}

.device-node.offline {
    opacity: 0.3;
}

.device-node .dd-mac {
    width: 160px;
}

.device-node .dd-ip {
    width: 140px;
}

.device-node .dd-host {
    width: 280px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.device-node.gateway .dd-mac,
.device-node.gateway .dd-ip,
.device-node.gateway .dd-host {
    color: #20c997;
}

.device-node.gateway .dd-host {
    opacity: 0.5;
}

.device-node .dd-tx-parent,
.device-node .dd-rx-parent,
.device-node .dd-rx-total-parent,
.device-node .dd-tx-total-parent {
    width: 7em;
}

.device-node .dd-wireless {
    width: 20em;
}

.device-node .dd-online-parent {
    width: 9em;
    text-align: right;
}

.device-node .inactive {
    opacity: 0.3;
}

.device-node .offline {
    opacity: 0.5;
}

/* Devices Arrow */
.device-node .dd-rx::before,
.device-node .dd-rx-total::before,
#router-rate .rr-rx::before {
    font-family: "Glyphicons Halflings";
    content: "\e094";
    font-size: 0.50rem;
    position: relative;
    top: 1px;
    margin-right: 0.40rem;
    line-height: 1.1;
}

#router-rate .rr-rx::before {
    font-size: 0.70rem;
}

.device-node .dd-tx::before,
.device-node .dd-tx-total::before,
#router-rate .rr-tx::before {
    font-family: "Glyphicons Halflings";
    content: "\e093";
    font-size: 0.50rem;
    position: relative;
    top: 1px;
    margin-right: 0.40rem;
    line-height: 1.1;
}

#router-rate .rr-tx::before {
    font-size: 0.70rem;
}

#router-rate.card-body {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

#router-rate > div {
    width: 50%;
    text-align: center;
}


table.router td:first-child, table.router td:last-child,
table.core-room-switch td:first-child, table.core-room-switch td:last-child {
    width: 5%;
}

table.router td, table.core-room-switch td {
    width: 45%;
    text-align: center;
}

@keyframes overlight {
    from { text-shadow: 0px 0px 18px #135489; }
    to { text-shadow : none; }
}

@keyframes redshadow {
    from { text-shadow: 0px 0px 15px #F4A0A0; }
    to { text-shadow : none; }
}

/*
.text-danger {
    animation: redshadow 1s infinite ease-in-out alternate;
    font-weight: bold;
}
*/

.discard {
    animation: overlight 1s infinite ease-in-out alternate;
    filter: blur(1px);
}

.rtinfo .text-danger {
    animation: none !important;
}

.darker {
    opacity: 0.3;
}

@keyframes blinker {
    50% { opacity: 0; }
}

#disconnected {
    position: absolute;
    bottom: 5px;
    right: 15px;
    color: #A52A2A;
    font-weight: bold;
    animation: blinker 1s linear infinite;
}

@keyframes error-blinker {
    50% { background-color: #222222; }
}

.system-error {
    background-color: #792525;
    animation: error-blinker 2s infinite;
}

/* Charts */
.chart-container {
    height: 90px;
}

.chart-placeholder {
    height: 90px;
}

.visibility-recent {
    opacity: 1;
}

.visibility-middle {
    opacity: 0.6;
}

.visibility-old {
    opacity: 0.3;
}

tr.spacer {
    height: 15px;
}

/*
.glyphicon-signal:before {
  content: "\e018";
}
*/

#core-switch-system, #room-switch-system {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

#core-switch-system div, #room-switch-system div {
    font-family: "UbuntuSansMono";
}

.cpu-root, .ram-root {
    width: 27%;
}

.load-root {
    width: 46%;
}

.redfishing {
    font-family: var(--bs-font-monospace);
}

.redfishing .badge.message {
    text-wrap: wrap;
    width: 100%;
}

.redacted {
    filter: blur(6px);
    opacity: 0.5;
}
