html {
    background-image: url(../resources/wallpaper/default.jpg);
    background-size: cover;
    background-attachment: fixed;
}

body {
    min-height: 100vh;
    padding: 5px;
    background-color: #333030;
    background: rgba(0, 0, 0, 0.6) !important;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

:root {
    --bs-bg-opacity: 0.4;
}

.card {
    --bs-card-spacer-y: 0.4rem;
    --bs-card-cap-bg: rgba(255, 255, 255, 0.05);
}

.badge {
    --bs-bg-opacity: 1;
}

.table-dark {
    --bs-table-bg: transparent;
}

.table-sm .badge {
    padding: 0.25em 0.5rem 0.25rem 0.5rem;
}

/* background fix */
#wrapper {
    background: transparent !important;
}

.node-down {
    opacity: 0.3;
}

.rtinfo table {
    font-size: 14px;
}

.rtinfo table thead {
	font-weight: bold;
	color: #BFBFBF;
	border-bottom: solid 2px #4D4D4D;
}

.rtinfo table a:link, table a:hover, table a:visited {
    text-decoration: none !important;
    font-weight: bold;
}

.td-14 { width: 14%; }
.td-10 { width: 10%; }
.td-8 { width: 8%; }
.td-6 { width: 6%; }
.td-5 { width: 5%; }
.td-3 { width: 3%; }
.td-2 { width: 2%; }
.td-1 { width: 1%; }

.ping-reply {
    text-align: center;
    font-size: 20px;
}

.wfix {
    word-spacing: -6px;
}

table.wireless tr {
    font-size: 14px;
    font-family: monospace;
    line-height: 10px;
}

table.wireless td:first-child {
    width: 30px;
}

/* devices */
.devices {
    font-size: 14px;
    font-family: monospace;
    line-height: 18px;
}

.devices .dd-mac {
    width: 13em;
}

.devices .dd-ip {
    width: 11em;
}

.devices .dd-host {
    width: 14em;
}

.devices .dd-tx-parent, .devices .dd-rx-parent,
.devices .dd-rx-total-parent, .devices .dd-tx-total-parent {
    width: 9em;
}

.devices .dd-wireless {
    width: 20em;
}

.devices .dd-online-parent {
    width: 8em;
}

.devices .inactive {
    opacity: 0.3;
}

.devices .offline {
    opacity: 0.5;
}

table.router td:first-child, table.router td:last-child {
    width: 5%;
}

table.router td {
    width: 45%;
    text-align: center;
}

@keyframes overlight {
    from { text-shadow: 0px 0px 18px #135489; }
    to { text-shadow : none; }
}

@keyframes redshadow {
    from { text-shadow: 0px 0px 15px #F4A0A0; }
    to { text-shadow : none; }
}

.text-danger {
    animation: redshadow 1s infinite ease-in-out alternate;
    font-weight: bold;
}

.discard {
    animation: overlight 1s infinite ease-in-out alternate;
    filter: blur(1px);
}

.rtinfo .text-danger {
    animation: none !important;
}

.darker {
    opacity: 0.3;
}

@keyframes blinker {
    50% { opacity: 0; }
}

#disconnected {
    position: absolute;
    bottom: 5px;
    right: 15px;
    color: #A52A2A;
    font-weight: bold;
    animation: blinker 1s linear infinite;
}

@keyframes error-blinker {
    50% { background-color: #222222; }
}

.system-error {
    background-color: #792525;
    animation: error-blinker 2s infinite;
}

/* Charts */
.chart-container {
    height: 90px;
}

.chart-placeholder {
    height: 90px;
}

.visibility-recent {
    opacity: 1;
}

.visibility-middle {
    opacity: 0.6;
}

.visibility-old {
    opacity: 0.3;
}

tr.spacer {
    height: 15px;
}



@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.glyphicon-signal:before {
  content: "\e018"; }

.glyphicon-arrow-up:before {
  content: "\e093"; }

.glyphicon-arrow-down:before {
  content: "\e094"; }

