html {
    background-image: url(../resources/wallpaper/default.jpg);
    background-size: cover;
    background-attachment: fixed;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

body {
    min-height: 100vh;
    padding: 15px;
    background-color: #333030;
    background: rgba(0, 0, 0, 0.6) !important;
}

#wrapper {
    background: transparent !important;
}

.card {
    --bs-card-spacer-y: 0.4rem;
    --bs-card-cap-bg: rgba(255, 255, 255, 0.05);
}

:root {
    --bs-bg-opacity: 0.4;
}

#current-time {
    margin-top: 0;
    font-size: 88px;
}

#current-date {
    font-size: 42px;
}

#current-day {
    font-size: 20px;
}

.power h2 {
    text-align: center;
    margin: 0;
    font-size: 50px;
}

.power .unit {
    font-size: 25px;
}

.value span.h {
    font-size: 15px;
    padding-left: 15px;
}

.chart-container {
    height: 160px;
}

.chart-container-small {
    height: 90px;
    margin-top: 10px;
}

.chart-placeholder {
    height: 100%;
}

.ups-card {
    --bs-bg-opacity: 1;
}

.ups-head {
    display: inline-block;
    width: 85px;
}

.ups-content {
    display: inline-block;
    width: 170px;
}


/*
.row-sensor {
    font-size: 130%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.row-sensor .value {
    font-family: monospace;
}

.row-sensor .updated {
    text-align: right;
}

.panel-body-light {
}

.panel-final {
    margin-bottom: 0;
}

.extrasensors .value, .extrasensors .temp {
    font: monospace;
    color: #97bad8;
}

.extrasensors .hum {
    font: monospace;
    color: #afb7bd;
}

@keyframes blinker {
    50% { opacity: 0; }
}

#disconnected {
    position: absolute;
    bottom: 5px;
    right: 15px;
    color: #A52A2A;
    font-weight: bold;
    animation: blinker 1s linear infinite;
}

@keyframes error-blinker {
    50% { background-color: #222222; }
}

.system-error {
    background-color: #792525;
    animation: error-blinker 2s infinite;
}

@media (max-width: 640px) {
    .row-sensor {
        text-align: center;
    }

    .row-sensor .updated {
        text-align: center;
    }

    #current-time {
        margin-top: 0;
        font-size: 50px;
    }

    #current-date {
        font-size: 25px;
    }
}
*/
