html {
    background-image: url(../resources/wallpaper/default.jpg);
    background-size: cover;
    background-attachment: fixed;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

body {
    min-height: 100vh;
    padding: 1rem 0 0.2rem 0;
    background-color: #333030;
    background: rgba(0, 0, 0, 0.6) !important;
}

/*
.card {
    --bs-card-spacer-y: 0.4rem;
    --bs-card-cap-bg: rgba(var(--bs-secondary-rgb), 0.1);
}

.card-header {
    font-size: 1rem;
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 0.8rem;
}

:root {
    --bs-bg-opacity: 0.4;
    --bs-body-font-family: "UbuntuSans";
    --bs-font-monospace: "UbuntuSansMono";
    --bs-body-font-weight: 475;
}
*/


/* ################################################# */

.temperature-sensors {
    display: flex;
    align-items: center;
    justify-content: start;
    line-height: 1.8rem;
}

.temperature-sensors .label {
    width: 14rem;
}

.temperature-sensors .value {
    font-family: var(--bs-font-monospace);
}

.temperature-sensors .timestamp {
    margin-left: auto;
}

.sensors-extra {
    display: flex;
    gap: 10rem;
}

.sensors-extra .temperature-sensors {
    line-height: 1rem;
}

.sensors-extra .temperature-sensors div {
    width: 10em;
}

.sensors-extra .extra-weather {
    margin-left: auto;
}





/* ################################################# */

#current-time {
    margin-top: 0;
    font-size: 5.4em;
    line-height: 1.1;
    letter-spacing: 0.3rem;
}

#current-date {
    font-size: 2.4em;
    font-weight: 300;
}

#current-day {
    font-size: 1.6em;
    font-weight: 200;
}

.card-power h2 {
    text-align: center;
    margin: 0;
    font-size: 50px;
}

.card-power .power-unit {
    font-size: 25px;
}

/*
.card-power .value span.h {
    font-size: 15px;
    padding-left: 15px;
}
*/

.power-spacer {
    width: 12em;
}

.chart-container {
    height: 160px;
}

.chart-container-small {
    height: 90px;
    margin-top: 10px;
}

.chart-placeholder {
    height: 100%;
}

/* **************** */

/*
.pony-card {
    --bs-bg-opacity: 1;
}
*/

.pony-card > div {
    display: flex;
    justify-content: start;
    align-items: center;
}

.pony-card .title {
    min-width: 120px;
}

.pony-card .title .badge {
    font-weight: 700;
}

/* **************** */

.ups-card {
    /*
    --bs-bg-opacity: 1;
    */
    display: flex;
    gap: 2.5rem;
}

.ups-card > div > div {
    display: flex;
    align-items: center;
    justify-content: left;
}

.ups-card > div > div > div:first-child {
    min-width: 85px;
}

.ups-card > div > div > div:first-child > span.badge {
    font-weight: 700;
}

#ups-status {
    text-transform: lowercase;
}

#ups-status:first-letter {
    text-transform: uppercase;
}

.badge {
    font-weight: 550;
}
